@charset "utf-8";
/* CSS Document */
@font-face {
      font-family: 'Fontist AI character creation Qiheng'; /* 字体名称，自定义 */
      src: url('https://fonts.cn-nb1.rains3.com/%E5%AD%97%E4%BD%93%E5%AE%B6AI%E9%80%A0%E5%AD%97%E6%9F%92%E6%81%92.ttf') format('truetype'); 
      font-weight: normal;
      font-style: normal;
    }

    /* 全局应用字体 */
    * {
      font-family: 'Fontist AI character creation Qiheng';
    }
	
footer {
            position: fixed;
            background: #693434EE;
            height: 50px;
            width: 100vw;
            bottom: 0px;
            left: 0px;
            z-index: 2;
        }

        a {
            text-decoration: none;
            color: #170B00;
        }
        
		#draggable {
            position: absolute; /* 必须设置绝对定位 */
            cursor: move; /* 鼠标样式为移动 */
			border: 1px solid #ddd;
        }
		
        /* 水印样式 */
        .watermark {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -1;
            opacity: 0.3;
            font-size: 48px;
            color: #FFFFFF;
            font-weight: bold;
			pointer-events: none;
        }

        #date {
            color: #FFF;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.5px;
        }
		#time {
            color: #FFF;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.5px;
        }
		
		tab {
	background-color:#FFA398;
	color:#FFF;
	padding:1px;
	border-radius:8px; 
	line-height:1.8;
}

a.ht {
	color:#000;
}
a.bt {
	color:#FFF;
	text-decoration:none;
}
